{% if business.built_by %}
<p class="mt-2 text-center text-xs text-gray-400" data-cd-credit>
  Site by <a class="hover:text-white" href="{{ business.built_by.url }}" target="_blank" rel="noopener">{{ business.built_by.name }}</a>
</p>
{% endif %}
