---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for entry in collections.all %}
  <url>
    <loc>{{ business.seo.site_url }}{{ entry.url }}</loc>
    {% if entry.date %}<lastmod>{{ entry.date | isoDate }}</lastmod>{% endif %}
  </url>
{%- endfor %}
{%- if business.service_areas.enabled %}{%- for town in towns %}
  <url>
    <loc>{{ business.seo.site_url }}/{{ town.slug }}/</loc>
  </url>
{%- endfor %}{%- endif %}
</urlset>
